.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

div {
  padding: 1rem;
  margin: 1rem;
}

.granddad {
  border: 1px solid red;
}

.dad {
  border: 1px solid blue;
}

.offspring {
  border: 1px solid green;
}